ce-call-to-action-content-block-edit-embed {    

    display:block;
    margin-bottom:40px;

    h2,
    .call-to-action-content-block-create {
        cursor:pointer;
    }

    .call-to-action-content-block-body {
        height:300px;
        margin-bottom:30px;
    }
}


