ce-content-block-edit-embed {    

    display:block;
    margin-bottom:40px;

    h2,
    .content-block-create {
        cursor:pointer;
    }

    .content-block-html-content {
        height:300px;
        margin-bottom:30px;
    }
}


